<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegisterPatient</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Username</td>
          <td>Password</td>
          <td>Profile Picture</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Gender</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Street</td>
          <td>City</td>
          <td>State</td>
          <td>Apt</td>
          <td>DOB</td>
        </tr>
      </thead>
    </table>
    <div class="patient-card">
      <h2>Register new Patient</h2>
      <form>
        <input
          [(ngModel)]="newPatient.username"
          type="text"
          placeholder="username"
          name="username"
        />
        <input
          [(ngModel)]="newPatient.password"
          type="text"
          placeholder="password"
          name="password"
        />
        <input
          [(ngModel)]="newPatient.firstName"
          type="text"
          placeholder="first name"
          name="firstName"
        />
        <input
          [(ngModel)]="newPatient.lastName"
          type="text"
          placeholder="last name"
          name="lastName"
        />
        <input
          [(ngModel)]="newPatient.gender"
          type="text"
          placeholder="gender"
          name="gender"
        />
        <input
          [(ngModel)]="newPatient.email"
          type="text"
          placeholder="e-mail"
          name="email"
        />
        <input
          [(ngModel)]="newPatient.phone"
          type="number"
          placeholder="phone number"
          name="phone"
        />
        <input
          [(ngModel)]="newAddress.street"
          type="text"
          placeholder="street"
          name="street"
        />
        <input
          [(ngModel)]="newAddress.city"
          type="text"
          placeholder="city"
          name="city"
        />
        <input
          [(ngModel)]="newAddress.state"
          type="text"
          placeholder="state"
          name="state"
        />
        <input
          [(ngModel)]="newAddress.apt"
          type="text"
          placeholder="apt"
          name="apt"
        />
        <label for="dob"> DOB</label>
        <input
          [(ngModel)]="newPatient.dob"
          type="date"
          placeholder="dob"
          name="dob"
        />
        <div>
          <label for="image">Image</label>
          <input
            type="file"
            class="form-control"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>
        <button (click)="registerNewPatient()">Register</button>
      </form>
    </div>
  </body>
</html>
