<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PatientViewBills</title>
  </head>
  <body>
    <!--This is a simple table to display the data-->
    <table>
      <thead>
        <tr>
          <td>Invoice ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Total</td>
          <td>Date</td>
          <td>Due Date</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bills">
          <td>{{ b.invoiceId }}</td>
          <td>{{ b.user.firstName }}</td>
          <td>{{ b.user.lastName }}</td>
          <td>{{ b.total }}</td>
          <td>{{ b.date }}</td>
          <td>{{ b.dueDate }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </body>
</html>
