/* Full-width input fields */
input[type="text"],
input[type="number"],
input[type="password"] {
  width: 98%;
  padding: 4px;
  margin: 2px 0 4px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Add styles to the form containerReq */
.containerReq {
  position: relative;
  left: 20%;
  max-width: 55%;
  padding: 4px;
  background-color: white;
  height: 100%;
}

.divForBtn {
  text-align: center;
}

/* Buttons */
.btn {
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px black;
  text-align: center;
}

.btn:hover {
  background-color: rgb(202, 201, 201);
}
.btn:active {
  background-color: #ddd;
  box-shadow: 0 2px black;
  transform: translateY(4px);
}
