<!--Navbar-->
<app-patient-navbar></app-patient-navbar>
<!--Header-->
<app-patient-header></app-patient-header>
<!--Content-->
    <!--This is a simple table to display the data-->
    <table>
      <thead>
        <tr>
          <td>Appointment ID</td>
          <td>Appointment Time</td>
          <td>Profile Picture</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Gender</td>
          <td>Doctor Name</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.appointmentId }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.patient.profilepicture }}</td>
          <td>{{ appointment.patient.firstName }}</td>
          <td>{{ appointment.patient.lastName }}</td>
          <td>{{ appointment.patient.gender }}</td>
          <td>{{ appointment.doctor.firstName }}</td>
          <td>{{ appointment.status }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

