<div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Doctors 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/admin/doctors">View Doctors Info</a>
        <a href="/admin/doctor-new">Register New Doctor</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Appointments
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/admin/schedule-new">Add New Avaliability</a>
        <a href="/admin/schedule">View All Schadule</a>
      </div>
    </div> 
        <div class="dropdown">
      <button class="dropbtn">Billing
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/admin/bill-new">New Bill</a>
        <a href="/admin/bills">View All Bills</a>
      </div>
  </div>
    <a href (click)="logout()">LogOut</a>
    <div style="margin:auto; color: white;text-align:right;"> <h3>Admin's page</h3></div>
  </div>
