<!--Navbar-->
<app-doctor-navbar></app-doctor-navbar>
<!--Header-->
<app-doctor-header></app-doctor-header>
<!--Content-->
    <table>
      <thead>
        <tr>
          <td>Patient ID</td>
          <td>Profile Picture</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Gender</td>
          <td>Email</td>
          <td>Phone</td>
          <td>street</td>
          <td>city</td>
          <td>state</td>
          <td>zipcode</td>
          <td>apt</td>
          <td>Date of Birth</td>
          <td>Role</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.patient.userId }}</td>
          <td>
            <img
              [src]="formatImage(patient.patient.profilepicture)"
              id="image"
              alt="RGB Image"
              height="100"
              width="120"
            />
          </td>
          <td>{{ patient.patient.firstName }}</td>
          <td>{{ patient.patient.lastName }}</td>
          <td>{{ patient.patient.gender }}</td>
          <td>{{ patient.patient.email }}</td>
          <td>{{ patient.patient.phone }}</td>
          <td>{{ patient.patient.address.street }}</td>
          <td>{{ patient.patient.address.city }}</td>
          <td>{{ patient.patient.address.state }}</td>
          <td>{{ patient.patient.address.zipcode }}</td>
          <td>{{ patient.patient.address.apt }}</td>
          <td>{{ patient.patient.dob }}</td>
          <td>{{ patient.patient.role }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

