<!DOCTYPE html>
<html>
<head>
    <title>ADS</title>
    <meta charset="UTF-8"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>

<body>
	<div class="navbar">
	  <div class="dropdown">
	    <button class="dropbtn">Management 
	      <i class="fa fa-caret-down"></i>
	    </button>
	    <div class="dropdown-content">
	      <a href="/">New Doctor</a>
	      <a href="/">Doctor Info</a>
	    </div>
	  </div> 
	  <a href="">Profile</a> 
      <a href (click)="logout()">LogOut</a>
	  <div style="margin:auto; color: white;text-align:right;"> <h5>Admin's page</h5></div>
	</div>

	<header>
        <div class="bg-img">
          <h3 style ="color:white;">Doctor Appointment System<small style ="color:white;">--Admin</small></h3>
          <div class="container">
            <h1>Admin's page here</h1>
            <p>{{content}}</p>
          </div>
        </div>
    </header>

    <!-- Footer -->
	<div id="footer" style ="text-align:right;">
	    <footer >Copyright &copy; Revature MSA Project2-DAS 2021</footer>
	</div>
</body>
</html>	
