<div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Patients 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/doctor/patients">My Patients</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Appointments 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/doctor/appointments">Booked Appointments</a>
      </div>
    </div> 
    <a href="/doctor">Profile</a> 
    <a href (click)="logout()">LogOut</a>
    <div style="margin:auto; color: white;text-align:right;"> <h5>Doctor's page</h5></div>
  </div>
